body {
    overflow: auto;
}

.error {
    color: red;
    font-size: 0.8em;
}

.miring {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.tippy-box[data-theme~='tomato'] {
    background-color: #222e3c;
    color: #f5f7fb;
}

.tippy-box[data-theme~='tomato'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #222e3c;
}

.confirmButtonSwall {
    margin: 0 !important;
}

.tittleSwall {
    margin: 0 !important;
}

/* IMG MODAL */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
}
.fit-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}
/* END IMG MODAL */